<div class="row">
    <div class="col-md-6 offset-3">
        <h2 class="text-info">
            You Have Reached The End of the Internet
        </h2>
        <hr />
        <a asp-controller="Movies" asp-action="Index" class="btn btn-lg btn-outline-primary">Home Page</a>
    </div>
</div>
